.DS_Store
dist/
npm-debug.log
yarn-error.log

!node_modules/

node_modules/*
!node_modules/css-loader/

node_modules/css-loader/*
!node_modules/css-loader/lib/

node_modules/css-loader/lib/*
!node_modules/css-loader/lib/loader.js